<div class="input-group mb-3 search-bar" style="max-width: 450px; ">
    <input type="text" class="form-control search-box" style="height: 39px;" [(ngModel)]="searchValue"
        onfocus="this.value=''">
    <!-- <input type="text" class="form-control search-box" [value]="searchValue" style="height: 39px;" -->
    <!-- (input)="getSearchItem($event)" onfocus="this.value=''"> -->

    <button class="btn btn-outline-secondary " type="button" style="height: 39px;" (click)="handleSearch(searchValue)">
        <i class="fa-light fa fa-search" style="color: black;" aria-hidden="true"></i>
    </button>
</div>
<div>
    <p>
        <strong>Search Result for : </strong>{{searchValue}}
    </p>
</div>

<div class="search-result" *ngFor="let item of products">
    <p>
        {{searchValue}} : {{item}}
    </p>
</div>