<div class="executionform">
    <form class="formwidth" (ngSubmit)="handleButtonClick($event)" #myForm="ngForm">
        <table class="fullwidth" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="First Name" id="firstname" [(ngModel)]="formattributes.firstname"
                            name="firstname">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Last Name" id="lastname" [(ngModel)]="formattributes.lastname"
                            name="lastname">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table class="fullwidth" cellspacing="0">
            <tr>
                <td>
                    <!-- <mat-form-field class="fullwidth">
                        <input matInput placeholder="City" id="city" [(ngModel)]="formattributes.city" name="city">
                    </mat-form-field> -->

                    <mat-form-field>
                        <!-- <mat-label>City</mat-label> -->
                        <mat-select [(ngModel)]="selectedOption" name="projects" placeholder="City" >
                            <mat-option value="option1">Parlin</mat-option>s
                            <mat-option value="option2">Middletown</mat-option>
                            <mat-option value="option3">Edison</mat-option>
                            <mat-option value="option4">Newark</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="State" id="state" [(ngModel)]="formattributes.state" name="state">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="fullwidth">
                        <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode"
                            [(ngModel)]="formattributes.postalcode" name="postalcode">
                        <!-- <md-hint align="end">
                        {{postalcode.value.length}} / 5
                    </md-hint> -->
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <app-button [label]=label (onClick)="handleButtonClick($event)" name =""></app-button>
        </p>

        <p>
            <mat-form-field class="textarea">
                <mat-label>Textarea</mat-label>
                <textarea matInput [(ngModel)]="rapidPage" name="textarea"></textarea>
            </mat-form-field>
        </p>
    </form>
</div>