<div class="content">
  <mat-toolbar >
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <h1>Cross Check</h1> -->
    <app-nav></app-nav>
  </mat-toolbar>
  
  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="true" mode="side" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
    <!--<mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'"> -->
      <mat-nav-list>
        <a mat-list-item>
          <span class="entry">
             <mat-icon>house</mat-icon>
             <span>Dashboard</span>
             <!-- <span *ngIf="!isCollapsed">Dashboard</span> -->
          </span>
        </a>
        <a mat-list-item>
          <span class="entry">
            <mat-icon>house</mat-icon>
            <span>My Tasks</span>
            <!-- <span *ngIf="!isCollapsed">Dashboard</span> -->
          </span>
        </a>     
        <a mat-list-item>
          <span class="entry">
            <mat-icon>house</mat-icon>
            <span>Manage Access</span>
            <!-- <span *ngIf="!isCollapsed">Dashboard</span> -->
          </span>
        </a>  
        <a mat-list-item>
          <span class="entry">
            <mat-icon>list</mat-icon>
            <span>Projects</span>
          </span>
        </a>
      </mat-nav-list>




      <mat-nav-list>
        <span *ngFor="let item of menu">
          <span *ngIf="item.children && item.children.length > 0">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <!-- Cabeceras del submenu -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" > 
                      <mat-icon>{{item.iconName}}</mat-icon>
                      {{item.displayName}}
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <span *ngFor="let child of item.children">
                  <mat-list-item routerLink="[child.route]">
                    <!-- Entradas de cada submenú  -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" > 
                      <mat-icon>{{child.iconName}}</mat-icon>
                      {{child.displayName}}
                    </div>
                  </mat-list-item>
                </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
          <span *ngIf="!item.children || item.children.length === 0">
            <mat-list-item routerLink="[item.route]">
              <!-- Entradas principales -->
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon>{{item.iconName}}</mat-icon>
                {{item.displayName}}
              </div>
            </mat-list-item>
          </span>
        </span>
      </mat-nav-list>


      
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="header">Testcase Status as on June 2024</div>
      <!-- <app-statustable></app-statustable> -->
      <router-outlet></router-outlet>
      <app-content></app-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>