h1 {
    padding: 0 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 }
  

.header {
    /* padding: 1rem; */
    text-align: center;
    height:50px;
    font-size: large;
}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
    background-color:rgb(42, 106, 246);
}



mat-sidenav-container {
    /* height:100%; */
    flex: 1;
}

/* Move the content down so that it won't be hidden by the toolbar*/
mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }

/* Move the content down so that it won't be hidden by the toolbar*/
mat-sidenav-content{
    overflow: scroll;
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
    /* width: 100%; */
    background-color: white;
}

h2 {
    text-align: center;
    color: black;
  }