<section>
    <form>
        <!-- <mat-form-field class="example-full-width"> -->
            <!-- <mat-label>Favorite food</mat-label> -->
            <input matInput placeholder="Ex. Pizza" #filter value="Sushi">
          <!-- </mat-form-field> -->
      <!-- <input type="text" placeholder="Filter by city" #filter> -->

      <button  mat-raised-button type="button" (click)="filterResults(filter.value)" > 
        {{ label }}
    </button>


      <!-- <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button> -->
    </form>
  </section>