.search-bar {
    margin: 20px auto;
    text-align: center;
}

.search-box {
    width: 40%;
    height: 5.7vh;
    padding: 1px 10px;
    outline: none;
    border-radius: 2px;
    border:#282828 1px solid;
    background-color: #efefef;
    /* margin-left: 2px 10px; */
}

.btn-search {
    padding: 8px 30px;
    /* background-color: #0e0afc; */
    background-color:rgb(0, 166, 255);
    /* border:none; */
    margin-left: 0px;
    margin-top: 0px;
    color: #fff;
}

.btn{
    /* padding: 8px 30px; */
    /* background-color: #28282B; */
    /* border:none; */
    /* padding: 8px 30px; */
    /* margin-left: -5px;
    margin-top: -5px;*/
    color: #fff; 
    border:#282828 1px solid;
    width: 15%;
}

.search-result{
    margin:20px auto;
    padding: 10px 140px;
}

.btn-search-disabled{
    padding: 12px 30px;
    background-color: #aaa;
    margin-left: -1px;
    color:#999;
    border : #aaa 1px solid;
    cursor: not-allowed no-drop;
}