<div class="input-group mb-3 search-bar" style="max-width: 450px; ">
    <input type="text" class="form-control search-box" style="height: 39px;" onfocus="this.value=null" #searchInput>
    <!-- [(ngModel)]="searchValue"> -->
    <button
        [ngClass]="{'btn':true, 'btn-search-disabled' : !searchValue, 'btn-search' : searchValue, 'btn-outline-secondary':searchValue}"
        type="button" style="height: 39px;" (click)="handleSearch(searchInput)">
        <!-- [disabled]="!searchValue"  -->
        <i class="fa-light fa fa-search" style="color: black;" aria-hidden="true"></i>
    </button>
</div>
<div>
    <p *ngIf="!(searchValue == 'Search' || searchValue == '')">
        <strong>Search Result for : </strong>{{searchValue}}
    </p>
</div>