.footer-container {
    /* background-color: white; */
    background-color: rgb(223, 235, 250);
    height: 70px;
    padding: 9px;
    /* margin:0px; */
    text-align: center;
    /* margin-top: 1px; */
    background-color: #1f5088;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    /* margin-bottom: 4px */
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #28282B;
    color: #FFFFFF;
    font-size: 12px;
    display: inline-block;
    line-height: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 24px;
    width: 24px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.mat-line {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    margin: 0px;
    padding: 0px;
}

.line {
    flex: 1;
}

.text {
    padding-left: 10px;
    padding-right: 10px;
}

.thick-divider {
    height: 1px;
    /* margin:auto; */
    margin: 75px 0px 0px 150px;
    width: 70%;
    /* Adjust the thickness as needed */
    background-color: white;
    /* Optional: Change the color */
}