<div class="footer-container mat-elevation-z3">
    <!-- <div class="mat-line">
        <div class="line"><mat-divider></mat-divider></div>
        <div class="text mat-typography">Hey there</div>
        <div class="line"><mat-divider></mat-divider></div>
    </div> -->

    <mat-divider class="thick-divider"></mat-divider>
    <!-- <span style="padding: 20px; font-weight: 500;">Or</span> -->
    <!-- <mat-divider style="width: 40%; display: inline-block;"></mat-divider> -->

    <div class="social-icons">
        <button mat-icon-button class="facebook">
            <mat-icon [style]="'background-color: white; border-radius: 100%;'">facebook</mat-icon>
        </button>
        <button mat-icon-button class="twitter">
            <mat-icon [style]="'background-color: white; border-radius: 100%;'">twitter</mat-icon>
        </button>
        <button mat-icon-button class="linkedin">
            <mat-icon [style]="'background-color: white; border-radius: 100%;'">linkedin</mat-icon>
        </button>
        <button mat-icon-button class="dribbble">
            <mat-icon [style]="'background-color: white; border-radius: 100%;'">dribbble</mat-icon>
        </button>
    </div>

    <div class="page-header-secondary-msg">
        <ul class="social-icons">
            <li><a class="facebook" href="#"><mat-icon [style]="'background-color: white; border-radius: 100%;'">dribbble</mat-icon></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div>
        <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
            <a href="https://www.marchmindtech.com/">MarchMind Technologies</a>.
        </p>
    </div>
</div>