<div class="wrapper">

    <div class="top-header" [hidden]="displayNotification">
        <img src="../assets/headerpic1.jpg">
        <p>New Sale Item upto 48% Off <i class="fa fa-arrow-down" aria-hidden="true" style="color:white"></i>
            {{product.inStock>0?"Available":"Currently Unavailable"}} : {{getCurrentTime()}}</p>
    </div>


    <!-- Selector being used as attribute-->
    <!-- <div app-header></div>   -->
    <!-- Selector being used as tag-->
    <!-- <app-notification></app-notification>   -->
</div>