<div class="login-form-container">
    <h2 style="color:#ffffff; font: bold; text-align: center; font-size:x-large; padding : 10px">MM | Cross Check</h2>

    <div class="form-container">
        <h2 style="font-size:x-large; text-align: center">Login to Account</h2>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="form-row">
                <mat-form-field floatLabel="auto" class="custom-field" >
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username" required="" >
                    <mat-icon matSuffix>person</mat-icon>
                    @if (loginForm.get('username')?.hasError('required')){
                    <mat-error *ngIf="username?.errors?.['required']">
                        User Name is Required
                    </mat-error>
                    }
                </mat-form-field>
                <mat-form-field floatLabel="auto">
                    <mat-label>Password</mat-label>
                    <!-- <mat-icon matSuffix (click)="pwdHide = !pwdHide; pwdType='text'">{{pwdHide ? 'visibility_off'
                        :'visibility'}}</mat-icon> -->
                    <input matInput formControlName="password" [type]="pwdType" style="font-size:smaller;">
                    <mat-error *ngIf="password?.errors?.['required']">
                        Password is Required
                    </mat-error>
                </mat-form-field>

            </div>

            <div class="center">
                <button mat-raised-button color="primary" type="submit">Login</button>
                <!-- routerLink="/home" -->
            </div>
            <span class="center margin-top" style="font-size:smaller;">New to our Platform?<a class="sign-up-link"
                    routerLink="/signup" style="font-size:small;"> Register
                    Here!</a></span>
        </form>
    </div>

    <mat-divider class="thick-divider"></mat-divider>
    <div class="social-icons">
        <button mat-icon-button class="facebook">
            <mat-icon [style]="'background-color: white; border-radius: 100%;'">facebook</mat-icon>
        </button>
        <button mat-icon-button class="twitter">
            <mat-icon [style]="'background-color: white; border-radius: 100%;'">twitter</mat-icon>
        </button>
        <button mat-icon-button class="linkedin">
            <mat-icon [style]="'background-color: white; border-radius: 100%;'">linkedin</mat-icon>
        </button>
        <button mat-icon-button class="dribbble">
            <mat-icon [style]="'background-color: white; border-radius: 100%;'">dribbble</mat-icon>
        </button>
    </div>
    <div>
        <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
            <a href="https://www.marchmindtech.com/" style="color:white;">MarchMind Technologies</a>.
        </p>
    </div>
    <!-- <app-footer></app-footer> -->
</div>