.navbar{
    display: flex;
    background-color:rgb(42, 106, 246);
}
.site-name{
    padding: 5px 30px;
    color:white;
}
.site-menu{
    padding: 5px 30px;
    margin-left:  100px;
    font-size: medium;
}
a{
    text-decoration: none;
    color:white;
    margin:0px 10px;
}