<div class="navbar">
    <div class="site-name">
        <h1>Cross Check</h1>
    </div>
    <div class="site-menu">
        <!-- <app-button (click)="showTextarea = true"></app-button> -->
        <!-- <app-textarea *ngIf="showTextarea"></app-textarea> -->
    <!-- <mat-form-field> -->
        <app-search></app-search>
    <!-- </mat-form-field> -->
<!-- <mat-form-field> -->
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">About</a>
        <a href="https://www.google.com/">Contacts</a>
        <a href="#">Cart</a>
    <!-- </mat-form-field> -->
    </div>
</div>