<div mat-dialog-content style="align-items: center; ">
    <h1 mat-dialog-title style="font-size:medium; padding-bottom: 0px; margin-bottom: 0px;">Choose/Create Test profile
    </h1>
    <div>
      <mat-form-field mat-dialog-content style="font-size:medium;">
        <mat-label>Choose or Enter Option</mat-label>
        <input matInput [matAutocomplete]="auto" [(ngModel)]="selectedOption" (input)="filterOptions()"
          (keydown.enter)="addOption()" style="font-size:medium;">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
          <mat-option *ngFor="let option of filteredOptions" [value]="option">
            <!-- <mat-checkbox></mat-checkbox> -->
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button (click)="onSubmit()">Add</button>
    </div>
  
  </div>