<div class="login-form-container">
    <h2 style="color:#ffffff; font: bold; text-align: center; font-size:x-large; padding : 10px">MM | Cross Check</h2>
    <div class="form-container">
        <h2 style="font-size:x-large;">New User Registration</h2>
        <form action="" [formGroup]="signUpForm" (ngSubmit)="submit()">
            <mat-form-field>
                <input matInput formControlName="username">
                <mat-icon matSuffix>person</mat-icon>
                <mat-label>User Name</mat-label>
                <mat-error *ngIf="email?.errors?.['required']">
                    Name is Required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-label>Email Address</mat-label>
                <mat-error *ngIf="email?.errors?.['required']">
                    Email is Required
                </mat-error>
                <mat-error *ngIf="email?.errors?.['email']">
                    Please enter a corrent email format
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="password" type="password">
                <!-- <mat-icon matSuffix (click)="pwdHide = !pwdHide; pwdType='text'">{{pwdHide ? 'visibility_off'
                        :'visibility'}}</mat-icon> -->
                <mat-label>Password</mat-label>
                <mat-error *ngIf="password?.errors?.['required']">
                    Password is Required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="confirmPassword" type="password">
                <mat-label>Confirm Password</mat-label>
                <mat-error *ngIf="password?.errors?.['required']">
                    Confirm Password is Required
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
                Password Should Match!
            </mat-error>
            <div class="center margin-top">
                <button mat-raised-button color="primary" type="submit" >Sign Up!</button>
            </div>
        </form>
    </div>
    <!-- <app-footer></app-footer> -->
</div>